.githubName:hover, .discordName:hover, .vkName:hover, .telegramName:hover, .linkedInName:hover {
  transform: scale(1.05);
}

.arrowName {
  width: 80px;
  height: 80px;
  @apply animate-bounce;
}
.arrowName:hover {
  transform: scale(1.095);
  cursor: pointer;
}